#main_footer_component {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    background-color: #DDD;
}